*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}


html,
body {

    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

input[type="text"] {


    line-height: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
}

input {
    outline: 0 !important;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

a {
    text-decoration: none !important;
}

.upper_block,
.upper_block_portfolio,
.upper_block_bakery {
   
    background-image:url(../img/color_up.png);
    background-repeat: no-repeat;
    background-position: center center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
   
}
.upper_block_portfolio{
    height: 515px;
}
.upper_block_bakery{
    height: 487px;
}

.menu {
    max-width: 1770px;
    margin: 0 auto;
}

.name {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.32px;
    letter-spacing: 0.15em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 61px;
    
}
.menu_item {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22.32px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-left: 73px;


}
.menu_items {
    margin-top: 41px;
    text-align: center;
}
.first_block {
  
    max-width: 1673px;
    margin: 0 auto;
    
}
.first_block_about{
    margin: 0 auto;
    max-width: 1673px;
  
}
.first_block_portfolio {
    margin: 0 auto;
    max-width: 1080px;
}
.main_header, 
.main_header_about,
.main_header_portfolio{
    background-image: linear-gradient(90.14deg, #DCA7FB 0%, #863EE4 96.61%);
    color: transparent;
    -webkit-background-clip: text;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 59.53px;
    text-align: left;
    max-width: 1087px;
    


}
.main_header{
    margin-top: 220px;
}
.main_header_portfolio {
    margin-top: 100px;
  
}
.main_header_about{
    margin-top: 175px;
}

.main_text, 
.main_text_about,
.main_text_portfolio {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    text-align: left;
    color:  rgba(255, 255, 255, 1);
    
    margin-top: 33px;

}
.main_text{
    max-width: 880px;
}
.main_text_about{
    max-width: 1225px;
}

.main_header_img {
    background-image: url(../img/main_header_img.png);
    background-repeat: no-repeat;
    width: 613px;
    height: 564px;
    gap: 0px;
    margin-bottom: 33px;
    background-size: 613px 564px;

}
.main_header_info {
    display: flex;
    justify-content: space-between;
}
.main_header_info_about{
    max-width: 1225px;
    margin: 0 auto;
}
.main_header_buttons{
    margin-top: 60px;
    max-width: 490px;
    display: flex;
    justify-content: space-between;
}
.more_about_button {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22.32px;
    text-align: left;
    color: rgba(14, 17, 17, 1);
    width: 229px;
    height: 55px;
    border-radius: 30px;
    background: rgba(206, 127, 249, 1);
    border: none;
    text-align: center;
    display: inline-block;
    padding: 14px 0 14px 0;

}
.more_about_button:hover {
    background: #884FED;
    border: 2px solid rgba(192, 157, 248, 1);
    transform: scale(0.97);
    color: rgba(255, 255, 255, 1);
}
.get_in_touch_button {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22.32px;
    text-align: left;
    width: 214px;
    height: 55px;
    border-radius: 30px;
    border: 2px solid rgba(192, 157, 248, 1);
    background: none;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    display: inline-block;
    padding: 14px 0 14px 0;
    
}
.get_in_touch_button:hover{
    transform: scale(0.97);
    background: #884FED;
    border: 2px solid rgba(255, 255, 255, 1);;
}
.down_button, .down_button_about {
    width: 50px;
    height: 94px;
    margin-left: -65px;
    width: 50px;
    border-radius: 30px;
    background: rgba(139, 82, 238, 1);
    display: inline-block;
   
 
}
.down_button::before,
.down_button_about::before{
    
    content: '';
    top: 32px;
    left: 14px;
    width: 19px;
    height: 19px;
    border-top: 3px solid;
    border-right: 3px solid;
    -moz-transform: rotate(-226deg);
    -webkit-transform: rotate(-226deg);
    transform: rotate(-226deg);
    display: block;
    color: rgba(255, 255, 255, 1);
    position: relative;
}

.down_button{
    bottom: -222px;
    position: relative;
    margin-bottom: 45px;
}
.down_button:hover,
.down_button_about:hover{
    border: 2px solid rgba(192, 157, 248, 1);
    
}
.down_button_about{
    margin-top: 90px;
    bottom: 50px;
  position: relative;
 
}

.down_button img {
    width: auto;
}
.featured_projects {
    max-width: 1752px;
    margin: 0 auto;
}
.featured_projects_header,
.portfolio_header
{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48.76px;
    letter-spacing: 0.1em;
    text-align: left;
    background: linear-gradient(90.1deg, #444466 0.09%, #884FED 0.1%, #4E1BD1 100%);
    color: transparent;
    -webkit-background-clip: text;
    
    text-align: center;
    margin: 110px auto 80px auto;

}
.featured_projects_header{
    max-width: 436px;
}
.portfolio_header{
    max-width: 587px;
}
.featured_projects_img1{
    background-image: url(../img/bakery.png);
    background-repeat: no-repeat;
    width: 700px;
    height: 395px;
    background-size: 700px 395px;
}
.featured_projects_img1_bakery,
.featured_projects_img3_bakery,
.featured_projects_img6_bakery,
.featured_projects_img8_bakery{
    margin-left: 60px;
}
.featured_projects_img1_bakery{
    background-image: url(../img/bakery1.png);
    background-repeat: no-repeat;
    width: 672px;
    height: 398px;
    background-size: 672px 398px;
}


.project_header
{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 43.41px;
    letter-spacing: 0.1em;
    text-align: left;

}
.project_header_bakery,
.central_block_bakery_header,
.contact_header{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48.76px;
    letter-spacing: 0.1em;
    text-align: left;
    background: linear-gradient(90.1deg, #444466 0.09%, #884FED 0.1%, #4E1BD1 100%);
    color: transparent;
    -webkit-background-clip: text;
    
}

.project_text,
.project_text_bakery,
.project_text_bakery_left,
.central_block_bakery_text{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 39px;
}
.project_text{
    max-width: 678px;
    
}
.project_text_bakery{
    max-width: 808px;
}
.project_text_bakery_left{
    max-width: 688px;
}

.central_block_bakery_text{
    max-width: 1064px;
    margin: 39px auto 0 auto;
    text-align: center;
}

.featured_projects_info,
.featured_projects_info_bakery{
    display: flex;
    justify-content: space-between;
    
    
}
.featured_projects_info{
    margin: 0 auto 120px auto;
    max-width: 1629px;
}



.featured_projects_info_bakery{
    margin: 100px auto 50px auto;
    max-width: 1612px;
}
.featured_projects_info_bakery:first-child{
    margin-top: 150px;
}


.featured_projects_text1{
    margin: auto 122px auto 0;
}
.find_out_button{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22.32px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    width: 224px;
    height: 55px;
    border-radius: 30px;
    border: 2px solid rgba(78, 27, 209, 1);
    background: none;
    text-align: center;
    margin-top: 46px;
    display: inline-block;
    padding: 14px 0 14px 0;


}
.featured_projects_img2{
    background-image: url(../img/salon.png);
    background-repeat: no-repeat;
    width: 700px;
    height: 395px;
    background-size: 700px 395px;
}
.featured_projects_img2_bakery{
    background-image: url(../img/bakery2.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_text2{
    margin: auto 0 auto 0
}
.featured_projects_img3{
    background-image: url(../img/shawarma.png);
    background-repeat: no-repeat;
    width: 700px;
    height: 395px;
    background-size: 700px 395px;
}
.featured_projects_img3_bakery{
    background-image: url(../img/bakery3.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}

.up_button, 
.up_button_about,
.up_button-contacts {
    width: 50px;
    height: 94px;
    margin-left: auto;
    margin-right: 0;
  
    border-radius: 30px;
    background: rgba(139, 82, 238, 1);
    display: block;
    bottom: 50px;
    position: relative;
    
   
}
.up_button{
    margin-right: -15px;
}
.up_button_about{
    margin-top: 117px;
    margin-right: -50px;
 
    
}
.up_button::before, 
.up_button_about::before,
.up_button-contacts::before{
    content: '';
    top: 41px;
    left: 15px;
    width: 19px;
    height: 19px;
    border-top: 3px solid;
    border-right: 3px solid;
    -moz-transform: rotate(314deg);
    -webkit-transform: rotate(314deg);
    transform: rotate(314deg);
    display: block;
    color: rgba(255, 255, 255, 1);
    position: relative;
}

.up_button img {
    width: auto;
   
}
.up_button:hover, 
.up_button_about:hover,
.up_button-contacts:hover {
    border: 2px solid rgba(139, 82, 238, 1);
    background: rgba(255, 255, 255, 1);
    
}
.up_button:hover:before, 
.up_button_about:hover::before,
.up_button-contacts:hover::before {
    color: rgba(139, 82, 238, 1);
}
footer {
     background-image: url(../img/footer_backgraund.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 318px;
}
.footer_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1768px;
    margin: 0 auto;
    padding-top: 50px;
}
.footer_name{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 43.41px;
    letter-spacing: 0.15em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 31px;
    margin-top: 47px;
    display: block;

}
.site_map_header{
    display: flex;
    flex-direction: column;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 31.01px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    ;

}
.site_map_header a{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22.32px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 27px;

}
.contact_info {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 31.01px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 1);
    margin-right: 343px;

}
.phone, .email {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22.32px;
    letter-spacing: 0.15em;
    text-align: left;
    margin-top: 27px;

}
.linkedin{
    margin-top: 31px;
}
.menu_item u {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.slider_block {
    display: flex !important;
}

.slider_info_header{
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 39px;
    
    
}
.slider_info_txt li{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-left: 31px;
    

}
.featured_projects_about {
    max-width: 1660px;
    margin: 0 auto;
}
.slider_info{
    
    margin: auto 0 auto 239px;
}
li::marker{
    font-size: 0.8rem;
}
.main_header_info_portfolio{
    margin-bottom: 180px;
}

.pic_items{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}
.central_block_bakery{
    margin-top: 132px;
}
.central_block_bakery_header,
.contact_header {
    text-align: center;
}
.contact_header{
    margin-top: 132px;
}

.central_block_bakery_img{
    background-image: url(../img/cake_central.png);
    background-repeat: no-repeat;
    background-size: 1330px 607px;
    width: 1330px;
    height: 607px;
    margin: 100px auto 0 auto;
}
.project_header_bakery_central{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 43.41px;
    text-align: left;

}
.featured_projects_img5_bakery {
    background-image: url(../img/bakery5.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img6_bakery {
    background-image: url(../img/bakery6.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img7_bakery {
    background-image: url(../img/bakery7.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img8_bakery {
    background-image: url(../img/bakery8.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.bakery_projects_text1 {
    margin: auto 0 
}
.featured_projects_info_bakery:last-child {
    margin-bottom: 11px;
}
.featured_projects_img1_salon{
    background-image: url(../img/salon1.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img2_salon{
    background-image: url(../img/salon2.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img3_salon{
    background-image: url(../img/salon2.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.central_block_salon_img {
    background-image: url(../img/salon_central.png);
    background-repeat: no-repeat;
    background-size: 1330px 607px;
    width: 1330px;
    height: 607px;
    margin: 100px auto 0 auto;
}
.central_block_shawarma_img {
    background-image: url(../img/shawarma_central.png);
    background-repeat: no-repeat;
    background-size: 1330px 607px;
    width: 1330px;
    height: 607px;
    margin: 100px auto 0 auto;
}
.featured_projects_img4_salon{
    background-image: url(../img/salon4.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img5_salon{
    background-image: url(../img/salon5.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img6_salon{
    background-image: url(../img/salon6.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img7_salon{
    background-image: url(../img/salon7.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img1_shawarma{
    background-image: url(../img/shawarma1.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img2_shawarma{
    background-image: url(../img/shawarma2.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img3_shawarma{
    background-image: url(../img/shawarma3.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img4_shawarma{
    background-image: url(../img/shawarma4.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img5_shawarma{
    background-image: url(../img/shawarma5.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img6_shawarma{
    background-image: url(../img/shawarma6.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.featured_projects_img7_shawarma{
    background-image: url(../img/shawarma7.png);
    background-repeat: no-repeat;
    width: 678px;
    height: 398px;
    background-size: 678px 398px;
}
.contact_form_img{
    background-image: url(../img/contact_form_img.png);
    background-repeat: no-repeat;
    background-size: 800px 600px;
    width: 800px;
    height: 600px;
    margin: 45px auto;
}
.contacts_block {
    display: flex;
    margin-top: 100px;
}
.input_title{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.8px;
    text-align: left;
    margin-bottom: 12px;
    margin-top: 41px;

}
form {
    margin: 0px auto 0 auto;
}
.contacts {
    max-width: 1600px;
    margin: 0 auto;
}
.putInfo_for_contacts{
    width: 536px;
    height: 55px;
    border-radius: 30px;
    border: 2px solid rgba(60, 60, 190, 1);
    padding: 15px 26px;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.8px;
    text-align: left;


}
.putInfo_for_contacts:focus,
.text_field:focus{
    border: 2px solid rgba(206, 127, 249, 1)
}
.text_field{
    width: 536px;
    height: 250px;
    border-radius: 30px;
    border: 2px solid rgba(60, 60, 190, 1);
    padding: 15px 26px;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.8px;
    text-align: left;

}
input[type=text]::placeholder,
input[type=email]::placeholder,
textarea[type=text]::placeholder {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.8px;
    text-align: left;

}
.button_for_contacts{
    width: 224px;
    height: 55px;
    border-radius: 30px;
    background: rgba(206, 127, 249, 1);
    border: none;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22.32px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding: 15px 50px;
    margin: 59px auto 150px auto;
    text-align: center;
    display: block;

}
.up_button-contacts{
    margin-right: 48px;
}